@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap%27');

body 
{
    font-family: 'Inter', sans-serif;
    .custom-scrollbar::-webkit-scrollbar
    {
        width: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track
    {
        background: #f1f5f9;
        border-radius: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb
    {
        background: #cbd5e1;
        border-radius: 10px;
    }

    .glass
    {
        background: rgba(255, 255, 255, 0.95);
        backdrop-filter: blur(10px);
    }
}